/*
TODO: Give the site a background
TODO: Add a title
TODO: Center the 'Your Score:' and score when submit
TODO: Change the font color of score, likely with
*/

#toShow{
  text-align: center;
}
#score{
  color: #a21318;
}
body{
  background-image: url(images/blue-background.jpg);
}
#intro{
  text-align: center;
}
.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.button {
  padding: 10px 20px 11px !important;
  font-size: 12px !important;
  background-color: #a21318;
  font-weight: bold;
  color: #f0ead6;
  border-radius: 100px;
}
